html{
  height: 100%;
  overflow: auto;
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  height: 100%;

}
#btn{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;

}
#canvas{

}
