<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../css/output.css">
</head>
<body>
  <div class="h-screen w-screen flex flex-col items-center justify-center bg-slate-500">
    <div class="border-2 border-black p-4">
      <form id="form">
        <input type="text" name="proposition" id="proposition">
        <input type="text" name="category" id="category">
        <input type="submit" value="Submit">
      </form>
    </div>

    <ul id="list">
    </ul>

    <p class="bg-slate-500">a</p>
  dots


  <script type="module" src="../javascript/list/list.js"></script>
  <script type="module" src="../javascript/list/api.js"></script>
</body>
</html>
